* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/pattern.jpeg') ;
    background-repeat: repeat;
    background-size: 128px 128px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #FBFBFB;
    background-image: none;
}

header img {
    display: block;
    width: 200px;
    margin: auto;
}

.banner img {
    width: 100%;
}

.title  {
    text-align: center;
    background-color: #FBFBFB;
    width: 80%;
    margin: 20px 5%;
    padding: 5%;
    -webkit-box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    -moz-box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    text-transform: uppercase;
    font-family: sans-serif;
}

h1 {
    color: #3D5EA5;
}

h3 {
    color: #F2Af4E;
}

section {
    -webkit-box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    -moz-box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    box-shadow: -5px 0px 73px 25px rgba(0,0,0,0.17);
    display: inline-block;
    position: relative;
    width: 500px;
    height: 700px;
    left: 50%;
    margin-left: -250px;
    margin-bottom: 20px;
}

.mockup-image-cropped {
    background-color: #d9872b;
    width: 100%;
    height: 524px;
}

.croppie-container {
    width: auto !important;
    position: absolute;
    z-index: 9;
    
}

.cr-viewport {
    border: 0 !important;
}

.cr-overlay {
    background-color: rgba(217, 135, 43, 0.8)
}

.cr-slider-wrap {
    margin-top: 200px !important;
    background-color: rgba(0, 0, 0, 0.8)
}

.mockup-image-cropped .logo img {
    display: block;
    margin: auto;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    top: 440px;
    z-index: 9;
    position: absolute;
}

.mockup-image-cropped .icon img {
    display: block;
    margin: auto;
    width: 120px;
    left: 65%;
    top: 300px;
    z-index: 9;
    position: absolute;
}

.mockup {
    float: right;
    width: 500px;
    height: 700px;
}
.mockup .footer { 
    position: relative;
    width: 100%;
}

#upload {
    padding: 10px;
    background-color: #3D5EA5;
    width: 480px;
    margin-bottom: 20px;
}